body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #FDFDFD;
  color: #1E1E1E;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #FDFDFD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-bounce {
  width: 120px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}
